.dub
docs.json
__dummy.html
docs/
/predictivesearch
predictivesearch.so
predictivesearch.dylib
predictivesearch.dll
predictivesearch.a
predictivesearch.lib
predictivesearch-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
